/* Common rules */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2{
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

section{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

section .row{
    height:200px;
}
/* Debug  */

.debug [class^="col-"]{
    background-color: red;
    border:1px solid black;
}

/* header */

header{
    background-color: cadetblue;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

/* main */

.page_description{
    background-color: blue;
}
.page_description_content{
    background-color: blueviolet;
    border:1px solid black;
    height: 200px;
    width:60%;
    margin: 0 auto;
}

section:nth-child(3), section:nth-child(5)
{background-color: green;
}

.download > .container{
    height: 200px;
    width:80%;
    background-color: rosybrown;
    border:1px solid black;
}

/* footer */

footer{
    background-color: violet;
}
footer .row{
    height:100px;
    border:1px solid black;
}

.container.logo{
    background-color: darksalmon;
}

.row .logo, .row .button{
    height:50%;
    width:10%;
    background-color: blue;
    border: 1px solid black;
}

.row.company{
    align-content: center;
    justify-content: space-between;
}